@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
    min-height: 100vh;
    min-height: 100dvh;

    color: var(--primary-color);
    font: var(--font-m);

    background: var(--bg-color);

    /* padding: 40px; */
}

.main {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: calc(var(--navbar-height) + 40px) 40px 40px;
}
