@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/magenta";

/* определяем именно тут если хотим чтобы и на модалку распространялось */
body {
    color: var(--primary-color);
    font: var(--font-m);
}

.app {
    /* max-height: 100vh;
    max-height: 100dvh; */
    min-height: 100vh;
    min-height: 100dvh;

    background: var(--bg-color);
}

.main {
    display: flex;
}
