@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

/* определяем именно тут если хотим чтобы и на модалку распространялось */
body {
    color: var(--primary-color);
    font: var(--font-m);
}

.app {
    min-height: 100vh;
    min-height: 100dvh;

    background: var(--bg-color);
}

.main {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: calc(var(--navbar-height) + 40px) 40px 40px;
}
