.title {
    margin-bottom: 0.4em;

    color: var(--primary-color);

    font: var(--font-l);
    font-weight: 600;
}

.text {
    margin-bottom: 0.5em;

    color: var(--secondary-color);

    font: var(--font-m);
}

.errored {
    .title {
        color: var(--red-dark-color);
    }

    .text {
        color: var(--red-light-color);
    }
}
