.Button {
    color: inherit;

    cursor: pointer;
}

.initial {
    padding: 0;
    border: none;

    background: transparent;
    outline: none;
}

.outline {
    padding: 5px 20px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
    outline: none;
}
