.CommentSkeleton {
    padding: 16px;
    border: 1px solid var(--primary-color);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.avatar {
    margin-right: 25px;
}
