.inputWrapper {
    position: relative;
}

.input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;

    color: transparent;
    font-size: var(--font-size-m);
    text-shadow: 0 0 0 var(--primary-color);

    background-color: transparent;

    outline: none;
}

.input:focus-visible {
    border: 2px solid var(--inverted-primary-color);
}

.placeholder {
    position: absolute;
    top: 10px;
    left: 10px;

    font-size: var(--font-size-m);

    /* transition: transform 0.3s ease-in-out; */
}

/* .placeholder.focused {
    transform: translateY(-50%) translateX(-10%) scale(0.7);
} */

.carriage {
    position: absolute;
    bottom: 8px;
    left: 22px;

    width: 9px;
    height: 2px;

    background-color: var(--primary-color);

    animation: blink 1s forwards infinite;
}

.placeholderFocused {
    position: absolute;

    animation: moveTop 0.5s ease forwards;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.01;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveTop {
    0% {
        transform: scale(1) translateY(0) translateX(0);
    }

    100% {
        transform: scale(0.7) translateY(-15%) translateX(20%);
    }
}
