.avatar {
    margin: 0 auto 44px;
}

.info {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 5px;
}

.titles {
    margin-bottom: 24px;
}

.block {
    margin-bottom: 32px;
}

.blocksContainer {
    margin-top: 40px;
}
