:root[data-theme="app_theme_magenta"] {
    --bg-color: #ff0a6e;
    --inverted-bg-color: #ffe5f0;
    --primary-color: #1600f1;
    --secondary-color: #ff3df9;
    --inverted-primary-color: #ff3df9;
    --inverted-secondary-color: #1600f1;
    --skeleton-shadow: #ab2561;
    --skeleton-color: #fbb4c1;

    // code
    --code-bg: #ed659d;
}
