.addCommentForm {
    margin-bottom: 40px;
}

.recommendations {
    margin-bottom: 40px;

    .articlesList {
        display: grid;
        grid-template-columns: repeat(4, calc(100% / 4 - 16px * 3 / 4));

        column-gap: 16px;
    }
}
