.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background: var(--inverted-bg-color);
}

.link:first-child {
  margin-right: 40px;
}

