.Navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: var(--navbar-height);
    padding: 20px;

    background: var(--inverted-bg-color);
}

.links .link:first-child {
    margin-right: 40px;
}

.linkCreate {
    margin-right: auto;
}
