.Profile {
    padding: 28px;
    border: 1px solid var(--primary-color);
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.input:not(:last-child) {
    margin-bottom: 40px;
}
